<h3>Добавленипе пользователя</h3>


<%= form_tag('/users', :method => "post") do %>
  <%= label_tag("Почта:") %>
  <%= text_field_tag(:mail) %>
  <br/>
  <%= label_tag("Пароль:") %>
  <%= password_field_tag(:password) %>
  <br/>
  <%= submit_tag("Добавить") %>
<% end %>

<%= link_to 'Назад', '/' %>
