<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Редактировать', "/users/#{@user[:id]}/edit" %> |
<%= link_to 'Назад', '/' %>
