<H3>Начальная страница</H3>
<H2>Марчук Иван ИУ6-31б Вариант 16</H2>

<!-- форма ввода отправляющая метод get на страничку result  -->
<%= form_tag("/result", :method => "get") do %>
  <%= label_tag("Введите число m:") %>
  <%= number_field_tag(:pm) %>
  <br/>
  <%= submit_tag("Посчитать") %>
<% end %>

<%= link_to 'Выйти из системы', "/logout" %>
