<H3>Введенное значение m: <%= @m %></H3>
<H3>Решение:</H3>

<table border="1" bordercolor=black>
  <tr><td> № </td><td> Ответ </td><td> дв. ответ </td><td> дв. m </td></tr>
  <% @temp_arr.size.times do |i| %>
    <tr>

    <td><%= i %></td>
    <td><%= @temp_arr[i][0] %></td>
    <td><%= @temp_arr[i][1] %></td>
    <td><%= @temp_arr[i][2] %></td>

    </tr>
  <% end %>
</table>

<p>m в двоичной форме: <%= @temp_arr[-1][2] %></p>
<p>Ответ: <%= @temp_arr[-1][0] %> В двоичной форме: <%= @temp_arr[-1][1] %></p>

<%= link_to 'Выйти из системы', "/logout" %>
