<H3>Введенное значение m: <%= @m %></H3>
<H3>Решение:</H3>

<table border="1" bordercolor=black>
  <tr><td> № </td><td> Ответ </td><td> дв. ответ </td><td> дв. m </td></tr>
  <% @temp_arr.size.times do |i| %>
    <tr>

    <td><%= i %></td>
    <td><%= @temp_arr[i][0] %></td>
    <td><%= @temp_arr[i][1] %></td>
    <td><%= @temp_arr[i][2] %></td>

    </tr>
  <% end %>
</table>

<p>m в двоичной форме: <%= @bin_m %></p>
<p>Ответ: <%= @ans %> В двоичной форме: <%= @bin_ans %></p>
